<form>
  <label for="key">access key</label>
  <input type="password" id="key" name="key" required>
  <div class="buttons">
    <button type="button" id="toggle-password" aria-selected="false" aria-label="toggle password display">
      <img data-type="icon" src="/assets/icons/eye-closed.svg" />
      <img data-type="icon" src="/assets/icons/eye.svg" />
    </button>
    <button type="submit" id="submit" aria-label="submit key">
      <img data-type="icon" src="/assets/icons/lock.svg" />
      <img data-type="icon" src="/assets/icons/unlock.svg" />
    </button>
  </div>
</form>
