<section class="week">
  <aside role="button" aria-selected="false" class="day-of-week mo">
    <p class="day-text">mo</p>
    <p class="day-num"></p>
  </aside>
  <aside role="button" aria-selected="false" class="day-of-week tu">
    <p class="day-text">tu</p>
    <p class="day-num"></p>
  </aside>
  <aside role="button" aria-selected="false" class="day-of-week we">
    <p class="day-text">we</p>
    <p class="day-num"></p>
  </aside>
  <aside role="button" aria-selected="false" class="day-of-week th">
    <p class="day-text">th</p>
    <p class="day-num"></p>
  </aside>
  <aside role="button" aria-selected="false" class="day-of-week fr">
    <p class="day-text">fr</p>
    <p class="day-num"></p>
  </aside>
  <aside role="button" aria-selected="false" class="day-of-week sa">
    <p class="day-text">sa</p>
    <p class="day-num"></p>
  </aside>
  <aside role="button" aria-selected="false" class="day-of-week su">
    <p class="day-text">su</p>
    <p class="day-num"></p>
  </aside>
</section>
